.footer_content {
  width: 30vw;
}

.footer_content p {
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .footer_start {
    flex-direction: column;
    align-items: center;
  }
  .footer_content {
    width: 80vw;
    text-align: center;
  }

  .footer_center_mobile {
    width: 100% !important;
    text-align: center !important;
  }

  .footer_center_mobile ul {
    text-align: center !important;
  }

  .footer_center_mobile li {
    text-align: center !important;
  }

  .footer_center_mobile :global(.carousel) {
    margin-left: auto;
    margin-right: auto;
  }
}
